button{
  background-color:#004fff;
  color:white;
  width:120px;
  height:40px;
  box-shadow:0 4px 16px rgba(0,79,255,0.3);
  font-size:16px;
  font-weight:bold;
  border-radius:20px;
  position:absoulute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
